## modified by J. Fox 2013-01-11

exportPattern(".")

import(rgl)
##importFrom(rgl, rgl.clear, rgl.bringtotop, rgl.cur)
import(Rcmdr)
import(HH)
import(lattice)
import(latticeExtra)
importFrom(tcltk, tkbutton)
importFrom(leaps)
importFrom(multcomp)
